@import "tailwindcss";
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';


@custom-variant dark (&:is(.dark *));
@layer base{
    h1{
        @apply text-3xl font-bold;
    }
    button{
        @apply cursor-pointer;
    }
}